<!-- Somewhere in your view file like app/views/your_view.html.erb -->
<div data-controller="dice">
  <button data-action="click->dice#roll">Roll Dice</button>
  <div id="dice-result" class="text-4xl font-bold"></div>
</div>
