<!-- app/views/character_data/show.html.erb -->
<h1><%= @data_type %> Details</h1>
<% if @data.present? %>
  <li><%= @data['full_name'] %></li>
  <p>Skills that use this ability: </p>
  <li><%= @data['skills'] %></li>
  <p><%= @data['description'].join(', ') if @data['description'].respond_to?(:join) %></p>
<% else %>
  <p>No data available.</p>
<% end %>
